<h2>Skills Page</h2>
<div class="row">
	<div class="col-sm-5 col-md-5"/>
	<h3>Skills</h3>
<ul>
		<li id="skill_1" ng-model="skill_1" ng-click="addStdSkills('skill_1')">Add Scripting Skills</li>
		<li id="skill_2" ng-click="addStdSkills('skill_2')">Add Programming Skills</li>
		<li id="skill_3" ng-click="addStdSkills('skill_3')">Add DB Skills</li>
		<li id="skill_4"ng-click="addStdSkills('skill_4')">Add Framework Skills</li>

	</div>
	<div class="col-sm-4 col-md-4"/>
	<h3> Standard Skills</h3>
		<div id="std_skill_1"></div>
		<div id="std_skill_2"></div>
		<div id="std_skill_3"></div>
		<div id="std_skill_4"></div>
		<div id="std_skill_5"></div>
	</div>
	<div class="col-sm-3 col-md-3"/>
	<h3>Mapped Skills</h3>
		<div id="row"><ul id="map_skills"></ul></div>
		
	</div>
</div>
